*.swp
*.swo
*.mo
.coverage
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.pyd
*.so
*.tmp*
.DS_Store
.idea
*~
_photos
*.scssc
tags.json
data/sessions/*
#*.json
*.log
*.dat
*.che
development.ini
sitesettings.py
config/main.php
template_c
demo/dao/test/*
templates_c
Thumbs.db
_upload
_data/_static/images/goods/*
cache/
_tmp/
sh/
*.min.js
*.min.css
gitkeek/
rsa/*
demo/*
*demo.php
uuquery/*
jbs/*
pengyoushuo/*
