<!DOCTYPE html>
<html>
<head><title>{block name=title}lffdemo{/block}</title>
    {block name=head}
    <meta charset="utf-8">
    {/block}

    {block name=metas}{/block}

    {block name=jscommon}

    {/block}

    {block name=csscommon} {/block}
    {block name=cssmodule} {/block}
    {block name=csspage}   {/block}

    {block name=jsglobal}
    {/block}
    {block name=jsmodule} {/block}
    {block name=jspage}   {/block}

</head>


<body>
{block name=body}
    {block name=header}  {/block}

    {block name=content} {/block}

    {block name=footer}  {/block}

{/block}

{block name=jslogic}
{/block}
{block name=jsfooter}
{/block}
</body>
</html>
