<!DOCTYPE html>
<html>
<head><title>{block name=title}lffdemo{/block}</title>
    {block name=head}
    <meta charset="utf-8">
    {/block}

    {block name=metas}{/block}

    {assets compress=css boot=$DATA_LOC savedir=$STATIC_LOC urlprex=$STATIC_URL enable=true}
        {block name=csscommon} {/block}
        {block name=cssmodule} {/block}
        {block name=csspage}   {/block}
    {/assets}

    {block name=jsglobal}
        <script type='text/javascript' src='{$ASSETS_URL}/common/js/jquery-1.9.1.js' ></script>
    {/block}
    {block name=jsmodule} {/block}
    {block name=jspage}   {/block}

</head>


<body>
{block name=body}
    {block name=header}  {/block}

    {block name=content} {/block}

    {block name=footer}  {/block}

{/block}

{block name=jsmodule}{/block}
{assets compress=js boot=$DATA_LOC savedir=$STATIC_LOC urlprex=$STATIC_URL enable=true}
    {block name=jsfooter}{/block}
{/assets}
{block name=jscripts}{/block}
</body>
</html>
